/* CSS declarations go here */
body {
  padding-top: 60px;
}

.line-separator {
  height:1px;
  background:#E3E3E3;
  border-bottom:1px solid #E3E3E3;
}

.postcontainer {
  display: inline-block;
  background-color: #FAFAFA;
  width:600px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  padding:0px 20px 0px 20px;
}
